#root{
    margin-left: 100px;
    margin-right: 100px;
    /* background-color: yellow; */
}

#header{
    text-align: center;
}

#left-block{
    margin-left: -19rem;
    display: flex;
    align-items: center;
    /* background-color: blue; */
}

#main-block{
    display: flex;
    flex-direction: row;
    justify-content:center;
}

@media only screen and (max-width: 1000px) {
    #main-block {
        flex-direction: column;
        align-items: center;
    }
    #left-block {
        margin-top: 25px;
        margin-left: 0rem;
        order: 2;
    }

    #root {
        order: 1;
    }
}